<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<h1>Ajout d'une nouvelle fleur</h1>

<%= render "form", flower: @flower %>

<br>

<div>
  <%= link_to "Retour à la page d'accueil", flowers_path %>
</div>