/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
}

h1 {
        font-family: "Cookie", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 3.5em;
}

main {
    font-family: "Raleway", sans-serif;
}

.flower_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1em;
}

.field{
    margin-right:  10px;
}

#flowers {
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
}

.card {
    width: calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.form_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway", sans-serif;
}

.maman_div div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway", sans-serif;
}

.add_flower {
    display: flex;
    justify-content: center;
}

footer {
        background-color: #b9ff81;
        color: #000000;
        padding: 20px;
        text-align: center;
    }
    
footer nav {
    margin-top: 10px;
}

footer nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}



