
@import "bootstrap";

/* En-tête */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    background-color: pink;
    color: #000000; 
}

header a{
    text-decoration: none;
    color: #000000;
}

header a:hover {
    color: #000000; /* Noir au survol */
    scale: 1.1;
}

/* Titre */
h1 {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3.5em;
}

/* Contenu principal */
main {
    font-family: "Raleway", sans-serif;
}

/* Recherche de fleurs */
.flower_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1em;
}

/* Champ */
.field{
    margin-right:  10px;
}

/* Conteneur de fleurs */
#flowers {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

/* Carte */
.card {
    width: calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

/* Formulaire dans le conteneur */
.form_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway", sans-serif;
}

/* Div dans le conteneur principal */
.maman_div div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway", sans-serif;
}

/* Ajout de fleurs */
.add_flower {
    display: flex;
    justify-content: center;
}

/* Boutons */
.bouttons {
    display: flex;
    justify-content: space-evenly;
}

/* Pied de page */
footer {
    background-color: pink;
    color: #000000;
    padding: 20px;
    text-align: center;
}

/* Liens dans le pied de page */
footer nav a {
    color: #000000; 
    text-decoration: none;
    margin: 0 10px;
}

/* Liens dans le pied de page au survol */
footer nav a:hover {
    color: #000000; /* Noir au survol */
    scale: 1.1;
}

/* Liens dans l'en-tête et section .add_flower */
header nav a,
.add_flower nav a {
    color: #000000; /* Vert foncé */
    text-decoration: none;
    margin: 0 10px;
}

/* Liens dans l'en-tête et section .add_flower au survol */
header nav a:hover,
.add_flower nav a:hover {
    color: #000000; /* Noir au survol */
}
.btn-primary{
background-color: rgb(248, 155, 171);
color: rgb(0, 0, 0);
border-color: rgb(0, 0, 0);
}
.btn-primary:hover {
scale: 1.1;
color:black;
background-color: rgb(248, 155, 171);
border-color: black;
}